/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "bootstrap";

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.navbar_container {
    background-color: #FFDE00;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.navbar_container span {
    padding: .5em;
}

ul li {
    padding: .5em;
    display: inline-block;
}

.navbar_button_group {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.container {
    margin-top: 1em;
    border-radius: .5;
    width: 80%;
    height: 80vh;
    background-color: #fdfdf8;
}

.form_container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_container_row {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.form_container_row .btn {
    margin-top: 2em;
}

.form_header {
    margin-left: 1em;
    margin-top: 3em;
}

.dialog_btn {
    margin-right: 1em;
}

.btn_back {
    margin-left: 1em;
}

.buttons_row {
    display: inline-block;
}